body {
    background-color: darkolivegreen;
    color: azure;
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: rgb(62, 186, 190);
    color: black;
    font-family: "DM Serif Text", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}